/* -------------------------------------------------------------------------- */
/*                                 CUSTOM.CSS                                 */
/* -------------------------------------------------------------------------- 
    Name                :       Custom.css
    Purpose             :       Adding the last retouches
    Author              :       RVFET
    Author's Website    :       https://rvfet.ga
------------------------------------------------------------------------------ */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

::selection {
    background: #303030;
    color: #f7f7f7;
    -webkit-text-fill-color: #f7f7f7;
    fill: #f7f7f7!important;
}

* {
    font-family: 'Roboto';
}

h1,h2,h3,h4,h5,h6,.sub-title {
    font-family: 'Roboto'!important;
}

.mobile-navigation-bar {
    background: transparent!important;
    border-color: transparent!important;
    outline-color: transparent!important;
}

.back_to_top_mobile {
    border-radius: 5px!important;
    bottom: 20px!important;
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9)!important;
}

.succesfull_trade {
    color: yellowgreen!important;
}

.not_succesfull_trade {
    color: tomato!important;
}

.pending_trade {
    color: orange!important;
}

.contact__page {
    background: #f7f7f7!important;
}

.contact__page input,
.contact__page h1,
.contact__page h2,
.contact__page h3,
.contact__page h4,
.contact__page h5,
.contact__page h6,
.contact__page p,
.contact__page label,
.contact__page input,
.contact__page textarea {
    border-color: #4776e6!important;
    color: #303030!important;
}

.contact__page input::placeholder,
.contact__page textarea::placeholder {
    color: #454545!important;
}

#header .nav-link {
    position: relative!important;
    overflow: hidden!important;
}

.nav-link {
    font-family: 'Roboto'!important;
    font-size: 16px!important;
}

#header .nav-link::after {
    content: '';
    position: absolute!important;
    bottom: 0!important;
    left: 0!important;
    height: 2px!important;
    width: 0%!important;
    background: white!important;
    border-radius: 10px!important;
    transition: 0.3s ease-in-out!important;
}

#header .nav-link:hover::after {
    width: 100%!important;
}

.join-now-btn .nav-link {
    transition: 0.3s ease!important;
}

.join-now-btn:hover .nav-link {
    filter: hue-rotate(120deg)!important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.join-now-btn > .nav-link::after {
    content: none!important;
}

.statics {
    margin-bottom: 3rem;
}

.invest_now a {
    width: max-content!important;
    border-radius: 250px!important;
    padding: 0 1rem!important;
}

.min_max_price {
    width: 100%!important;
    display: flex!important;
    justify-content: space-between!important;
    padding: 0.5rem 0.5rem!important;
    border-radius: 999px!important;
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
}

.min_max_price span {
    width: max-content;
    height: auto;
    background: white;
    padding: 0.25rem 0.25rem!important;
    border-radius: 999px!important;
    font-weight: 600!important;
    cursor: help!important;
}

.mobile-navigation-bar {
    display: none!important;
}

.tos_text {
    max-height: 200px!important;
    overflow-y: auto!important;
}


.services__header,
.investment__header {
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9)!important;
}

.services_holder {
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
    border-radius: 25px;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 2rem;
    margin: 3rem 0 4rem;
}

.single_service {
    color: whitesmoke;
    width: 100%;
    height: max-content;
    padding: 2rem 1rem;
    border-radius: 25px;
    background: linear-gradient(to bottom right, rgba(255,255,255,0), rgba(255,255,255,0));
}

.single_service:hover {
    background: linear-gradient(to bottom right, rgba(255,255,255,0.9), rgba(255,255,255,0.4));
    color: #353535;
}

.single_service:hover img {
    filter: contrast(0.7);
}

.service_title {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.service_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0;
}

.single_service img {
    max-width: 75px;
    height: 75px;
    filter: invert(1) drop-shadow(0 5px 10px rgba(0,0,0,0.25));
}

.editable_credential,
.current_credential {
    display: none!important;
}

.editable_credential.active,
.current_credential.active {
    display: block!important;
}

#id_front,
#id_back,
#id_selfie {
    display: none;
}

.upload_label {
    display: grid;
    place-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.upload_label path {
    transition: 0.3s ease!important
}

.upload_label:hover {
    background: white!important;
    color: black!important;
}

.upload_label:hover svg path {
    fill: black!important;
}

.id_selfie_tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.id_selfie_tip svg {
    min-width: 30px!important;
    width: 7%!important;
    height: auto!important;
    margin-right: 30px!important;
}

.reg-body label {
    min-height: 55px!important;
    width: 100%!important;
    height: auto!important;
}

.prdctcrd {
    margin-bottom: 15px!important;
}

.minimum_allowed_value,
.maximum_allowed_value {
    color: black!important;
    width: max-content;
    height: max-content;
    border-radius: 15px;
    padding: 0.25rem 0.5rem;
    font-weight: 900!important;
}

.minimum_allowed_value {
    background: #ffc400!important;
}

.maximum_allowed_value {
    background: #ff7300!important;
}


.part-text .meta-info {
    display: flex!important;
    flex-direction: row!important;
    align-items: center!important;
    justify-content: space-between!important;
}

.meta-info > li{
    background: #f1f1f1!important;
    padding: 0.5rem 1rem!important;
    border-radius: 25px!important;
    color: #171717!important;
    font-weight: 600!important;
}


.bitcoin_style {
    background: linear-gradient(to bottom right, hsl(33, 100%, 60%), hsl(44, 100%, 60%))!important;
    background-clip: text!important;
    -moz-background-clip: text!important;
    -webkit-background-clip: text!important;

    -webkit-text-fill-color: transparent!important;
    font-weight: 900!important;
    font-size: 20px!important;
}

.invest__button {
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9)!important;
    border-radius: 20px!important;
    padding: 0.5rem 1rem!important;
    color: whitesmoke!important;
}

.rating_users {
    display: flex!important;
    justify-content: center!important;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    gap: 0 10%!important;
    align-items: center!important;
    width: 100%!important;
    padding: 1rem 0 1rem 1rem!important;
}

.rating_user {
    display: flex!important;
    width: 40%!important;
    align-items: center!important;
    justify-content: flex-start!important;
    background: #fff!important;
    border-radius: 10px!important;
    box-shadow: 0 0 20px 7px rgb(0 0 0 / 12%)!important;
    margin-bottom: 5vh!important;
    padding: 1rem 1rem 1rem 5rem!important;
    position: relative!important;
}

.rating_user:nth-child(-1n+3) .rating_user_number {
    /* background: linear-gradient(-19deg, #4779e6 10%, #54e4e9); */
    color: #f7f7f7!important;
    font-weight: 900!important;
}

.rating_user:nth-child(1) .rating_user_number,
.rating_user:nth-child(2) .rating_user_number,
.rating_user:nth-child(3) .rating_user_number {
    filter: hue-rotate(50deg)!important;
}

.rating_user:nth-child(1),
.rating_user:nth-child(2),
.rating_user:nth-child(3) {
    outline: 1px solid #4776e6;
}

.rating_user_image {
    height: 100px!important;
    width: 100px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    filter: drop-shadow(0 5px 5px rgba(0,0,0,0.2));
    position: absolute!important;
    left: -50px!important;
    transition: 0.3s ease!important;
}

.rating_user_image img {
    width: 100px!important;
    height: 100px!important;
    border-radius: 50%!important;
    object-fit: cover!important;
    border: 10px solid white!important;
    object-position: center!important;
    transition: 0.3s ease!important;
}

.rating_user_image:hover img {
    transform: (1.5)!important;
}

.rating_user_number {
    font-size: 24px!important;
    padding: 0.75rem 1.5rem!important;
    color: white!important;
    border-radius: 99999px!important;
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
    margin-right: 10%!important;
}

.rating_user_percent {
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    font-size: 20px!important;
}

.rating_user_percent .fa-arrow-alt-circle-up {
    color: yellowgreen!important;
    fill: yellowgreen!important;
}

.rating_user_percent .fa-arrow-alt-circle-down {
    color: tomato!important;
    fill: tomato!important;
}

.rating_user_percent span {
    padding: 0.1rem 0.5rem!important;
    color: white!important;
    border-radius: 99999px!important;
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
}

.rating_user_name {
    font-size: 24px!important;
    font-weight: bold!important;
}

@media (max-width: 1050px) {
    .rating_user_name {
        font-size: 20px!important;
    }
}

@media (max-width: 900px) {
    .rating_users {
        flex-direction: column!important;
        flex-wrap: nowrap!important;
    }
    .rating_user {
        width: 70%!important;
        margin-left: 5rem!important;
    }
    .rating_user_details {
        width: 100%!important;
    }
}

@media (max-width: 560px) {
    .rating_user {
        width: 90%!important;
    }
}

@media (max-width: 400px) {
    .rating_user {
        width: 100%!important;
    }
}