{% extends 'base.html' %}
{% block content %}
		<!-- --------
		--------------------------------------------------------------- -->
		<!--                               BREADCRUMB                                -->
		<!-- ----------------------------------------------------------------------- -->
		<div class="breadcrumb-rvfet db-breadcrumb">
			<div class="container">
				<div class="row justify-content-lg-around">
					<div class="col-xl-6 col-lg-7 col-md-5 col-sm-6 col-8">
						<div class="part-txt">
							<h1>İstifadəçi Paneli</h1>
							<ul>
								<li>Ana səhifə</li>
								<li>İstifadəçi Paneli</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-6 col-lg-5 col-md-7 col-sm-6 col-4 d-flex align-items-center">
						<div class="db-user-profile">
							<div class="part-data">
								<span class="name">Anar Anarov</span>
								<ul>
									<li>
										<span class="text">Balans</span>
										<span class="number">4,500 ₼</span>
									</li>
									<li>
										<span class="text">Aktiv Yatırım</span>
										<span class="number">1,200 ₼</span>
									</li>
								</ul>
							</div>
							<div class="part-img">
								<img src="/static/img/member-1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ----------------------------- BREADCRUMB ------------------------------ -->




		<!-- ----------------------------------------------------------------------- -->
		<!--                               INVESTMENTS                               -->
		<!-- ----------------------------------------------------------------------- -->
		<div class="team-inner">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-8 col-lg-8">
						<div class="section-title">
							<span class="sub-title">
								İnvestisiya edərək
							</span>
							<h2>
								Gəlirinizi dəqiqələr İçidə<span class="special"> Qatlayın! </span>
							</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_2.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>SOCAR</h3>
								<p>2 il, +12%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">100,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->



					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Bitcoin</h3>
								<p>1 il, +14%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">1,000,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->



					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_3.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Pinterest</h3>
								<p>1 il, +8%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">50,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->




					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_4.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Etherium</h3>
								<p>4 il, +34%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">10,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->




					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_2.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>SOCAR</h3>
								<p>2 il, +12%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">100,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->



					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Bitcoin</h3>
								<p>1 il, +14%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">1,000,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->



					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_3.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Pinterest</h3>
								<p>1 il, +8%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">50,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->




					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_4.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Etherium</h3>
								<p>4 il, +34%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">10,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->




					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_2.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>SOCAR</h3>
								<p>2 il, +12%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">100,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->



					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Bitcoin</h3>
								<p>1 il, +14%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">1,000,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->



					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_3.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Pinterest</h3>
								<p>1 il, +8%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">50,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->




					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_4.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Etherium</h3>
								<p>4 il, +34%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">10,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->





					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_2.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>SOCAR</h3>
								<p>2 il, +12%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">100,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->



					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Bitcoin</h3>
								<p>1 il, +14%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">1,000,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->



					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_3.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Pinterest</h3>
								<p>1 il, +8%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">50,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->




					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->
					<div class="col-xl-3 col-lg-3 col-sm-6 prdctcrd">
						<div class="single-box">
							<div class="part-img">
								<img src="/static/img/product_placeholder_4.png" alt="Məhsul Şəkli">
							</div>
							<div class="part-txt">
								<h3>Etherium</h3>
								<p>4 il, +34%</p>
								<div class="social invest_now">
									<a href="./investment.html">Daha Çox Məlumat</a>
								</div>
								<p class="mt-5 min_max_price"><span title="Minimum İnvestisiya Məbləği">100 ₼</span> <span title="Maksimum İnvestisiya Məbləği">10,000 ₼</span></p>
							</div>
						</div>
					</div>
					<!-- ---------------------------- PRODUCT CARD ----------------------------- -->



				</div>
			</div>
		</div>
		<!-- ----------------------------- INVESTMENTS ----------------------------- -->
{% endblock %}