{% extends 'base.html' %}
{% block content %}

    <div class="contact" id="contact">
        <div class="container container-contact">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-title section-title-2">
							<span class="sub-title">
								Bizimlə Əlaqə
							</span>
                        <h2 style="font-size: 32px;">
                            Köməyə ehtiyacınız var?<br/><span class="special" style="font-size: 48px;"> Biz
									Burdayıq!</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="bg-tamim contact__page">
                <div class="row justify-content-around">
                    <div class="col-xl-6 col-lg-6 col-sm-10 col-md-6">
                        <div class="part-form">
                            <form method="post">
                                {% for field in form %}
                                    {% csrf_token %}
                                    {{ field.label }}
                                    {{ field }}
                                {% endfor %}
                                 <span>{{ error }}</span>

                                <button class="submit-btn def-btn" type="submit">Göndər</button>

                            </form>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-sm-10 col-md-6">
                        <div class="part-address">
                            <div class="addressing">
                                <div class="single-address">
                                    <h4>Baş Ofisimiz</h4>
                                    <p>{{ info.address }}</p>
                                </div>
                                <div class="single-address">
                                    <h4>Email</h4>
                                    <p>{{ info.email }}</p>
                                </div>
                                <div class="single-address">
                                    <h4>Telefon</h4>
                                    <p>{{ info.telefon }}<br>
                                        {{ info.telefon_2 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

