{% extends 'base.html' %}
{% block content %}
    <!-- ----------------------------------------------------------------------- -->
    <!--                               BREADCRUMB                                -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="breadcrumb-rvfet db-breadcrumb">
        <div class="container">
            <div class="row justify-content-lg-around">
                <div class="col-xl-6 col-lg-7 col-md-5 col-sm-6 col-8">
                    <div class="part-txt">
                        <h1>İstifadəçi Paneli</h1>
                        <ul>
                            <li>Ana səhifə</li>
                            <li>İstifadəçi Paneli</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-7 col-sm-6 col-4 d-flex align-items-center">
                    <div class="db-user-profile">
                        <div class="part-data">
                            <span class="name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                            <ul>
                                <li>
                                    <span class="text">Balans</span>
                                    <span class="number">4,500 ₼</span>
                                </li>
                                <li>
                                    <span class="text">Aktiv Yatırım</span>
                                    <span class="number">1,200 ₼</span>
                                </li>
                            </ul>
                        </div>
                        <div class="part-img">
                            <img src="/static/img/member-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------- BREADCRUMB ------------------------------ -->



    <!-- ----------------------------------------------------------------------- -->
    <!--                                 ACCOUNT                                 -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="user-dashboard">
        <div class="container">

            <div class="dashboard-menu">
                <nav>
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link active" href="./dashboard.html">İstifadəçi paneli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./withdraw.html">Hesabdan Çıxarış</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./settings.html">Tənzimləmələr</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="user-statics">
                <div class="row">
                    {% for a in user_panel %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-statics">
                            <div class="part-icon">
                                <img src="{{a.image.url}}" alt="">
                            </div>
                            <div class="part-info">
                                <span class="number">{{ a.title}}</span>
                                <span class="text">{{ a.text}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <!-- account end -->
{% endblock %}


