{% extends 'base.html' %}
{% block content %}
<!-- ----------------------------------------------------------------------- -->
<!--                               BREADCRUMB                                -->
<!-- ----------------------------------------------------------------------- -->
<div class="breadcrumb-rvfet">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-8">
                <div class="part-txt">
                    <h1>Tez-Tez verilən Suallar</h1>
                    <ul>
                        <li>Ana Səhifə</li>
                        <li>Tez-Tez Verilən Suallar</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-4 d-flex align-items-center">
                <div class="part-img">
                    <img src="/static/img/breadcrumb-img.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------- BREADCRUMB ------------------------------ -->


<!-- ----------------------------------------------------------------------- -->
<!--                                   FAQ                                   -->
<!-- ----------------------------------------------------------------------- -->
<div class="faq">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="faq-sidebar">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        {% for category in categories %}
                            <a class="nav-link {% if forloop.first %}active{% endif %}" id="category-{{ id }}-tab"
                               data-toggle="pill" href="#v-pills-{{ category.id }}"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">{{ category.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="faq-content">
                    <div class="tab-content" id="v-pills-tabContent">
                        {% for category in categories %}
                            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                        id="v-pills-{{ category.id }}" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">

                            {% for faq in category.faq.all %}
                                <div class="single-faq">
                                    <h4>{{ faq.question }}</h4>
                                    <p>{{ faq.answer }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------------------------------- FAQ --------------------------------- -->
{% endblock %}
