{% extends 'base.html' %}
{% block content %}
        <!-- ----------------------------------------------------------------------- -->
        <!--                               BREADCRUMB                                -->
        <!-- ----------------------------------------------------------------------- -->
        <div class="breadcrumb-rvfet">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-8">
                        <div class="part-txt">
                            <h1>Tez-Tez verilən Suallar</h1>
                            <ul>
                                <li>Ana Səhifə</li>
                                <li>Tez-Tez Verilən Suallar</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-4 d-flex align-items-center">
                        <div class="part-img">
                            <img src="/static/img/breadcrumb-img.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------- BREADCRUMB ------------------------------ -->





        <!-- ----------------------------------------------------------------------- -->
        <!--                                   FAQ                                   -->
        <!-- ----------------------------------------------------------------------- -->
        <div class="faq">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="faq-sidebar">
                            <div class="search-widget">
                                <form>
                                    <input type="text" placeholder="Search here">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                                    role="tab" aria-controls="v-pills-home" aria-selected="true">Ümumi Suallar</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                                    role="tab" aria-controls="v-pills-profile" aria-selected="false">Ödənişlə Bağlı
                                    Suallar</a>
                                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill"
                                    href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                    aria-selected="false">Hesabdan Çıxarışla Bağlı Suallar</a>
                                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"
                                    href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                    aria-selected="false">Hesablar Bağlı Suallar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <div class="faq-content">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab">
                                    <div class="single-faq">
                                        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Chemical bush almost seems mission organization acres way quite instead
                                            afraid society hope until drove series so toward potatoes worth late require
                                            plates stick religious sign decide wall top probably piece park desert know
                                            bill rice element best suggest observe upon factor fat twenty information
                                            now train my.</p>
                                    </div>

                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Aackage evidence pressure guard location somehow needed try happen soon
                                            result tired grabbed donkey without asleep term today between cookies sold
                                            fought tropical thirty indicate turn news vowel horse receive design die fly
                                            corn bridge spider feel crowd twenty lungs pile certain until relationship
                                            reader grandmother dust find.</p>
                                    </div>

                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Arail her division brother nature joy changing pan he bound seven system
                                            snake stage cow corn led snow apartment labor sweet return straw rest hour
                                            principle finest old silence some paragraph captured car becoming weight
                                            further lake organization vast opportunity underline laugh popular factory
                                            having day negative or.</p>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                    aria-labelledby="v-pills-profile-tab">
                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Arandmother for soon suppose adventure four ever spin pencil correctly grow
                                            stage model won said open wire term built former how beginning mass dream
                                            smile pour it symbol string lose tip airplane dry to roof state potatoes sad
                                            better opinion anyone dish failed worse daily happily strength traffic.</p>
                                    </div>
                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Aeet beautiful numeral share magic affect alike exist morning afraid observe
                                            standard welcome nest softly arrive little greatest rod vast measure
                                            everything him particular discuss leaving work balloon substance just
                                            indicate student single whom cause got none friendly himself four worse fast
                                            forgotten sets till public believed occasionally.</p>
                                    </div>
                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Ariven everybody name income average crack valley exercise differ village
                                            furniture during larger tell essential organized nothing ten several nervous
                                            soil than rays remain market pole east garage familiar corner fully refer
                                            bush newspaper pour wear asleep putting largest written halfway tube bare
                                            flew on about voyage army.</p>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                    aria-labelledby="v-pills-messages-tab">
                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Arive loss total expression hardly student try greatest great exist came
                                            amount stone weak pleasure tea sitting impossible shells escape making wall
                                            who metal scared act fact being she flew held triangle lion electricity
                                            birth general hospital write fox number pot practical equipment silk remove
                                            generally some drawn.</p>
                                    </div>

                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Andependent indicate came women sentence supper industrial no natural fix
                                            written information tell below planned map member snow knife noise tail
                                            decide unit closer account truck modern blank death trick changing explore
                                            later reason race hollow swam national clearly range cage event we success
                                            someone scale fox single.</p>
                                    </div>

                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Aoldier thus rock remarkable buy entirely spent foreign huge chain rise most
                                            same twenty slightly lamp morning noise tightly wealth firm hidden living
                                            flew excellent construction month laid than cannot stop division hunt golden
                                            rising exchange whether species contain wonderful merely soldier value
                                            forgot success purple therefore provide.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                    aria-labelledby="v-pills-settings-tab">
                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Aorrect row flat other break dream chamber shake fourth strike mother lie
                                            alone salt opportunity follow season trap copper anybody moon satisfied
                                            quick active plus driven height value indicate mixture bit leg onto chart
                                            form stronger wise diameter quiet wing material pet welcome him nature rocky
                                            saddle sides.</p>
                                    </div>

                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Axact heat syllable value vote crack desk learn electricity school rise
                                            twelve horn cave characteristic ride box example indeed citizen using bare
                                            memory understanding thumb guide write death factor different has broad
                                            orange trouble faster worse soil point climb happily what now noon until
                                            base hay quite facing.</p>
                                    </div>

                                    <div class="single-faq">
                                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                        <p>Aull exact report along loose whole luck new lying examine willing correctly
                                            widely themselves tongue planning my neighbor involved allow believed driven
                                            proud total train climate away adult extra percent which fewer birth sad
                                            rocket putting typical studying upward introduced rose electricity
                                            immediately village off heat musical result.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------- FAQ --------------------------------- -->
{% endblock %}
