{% extends 'base.html' %}
{% block content %}
    <!-- ----------------------------------------------------------------------- -->
    <!--                                 BANNER                                  -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="banner">
        <div class="container">
            <div
                    class="row justify-content-xl-between justify-content-lg-between justify-content-md-center justify-content-sm-center">
                <div
                        class="col-xl-7 col-lg-7 col-sm-10 col-md-9 d-xl-flex d-lg-flex d-block align-items-center d-banner-tamim">
                    <div class="banner-content">
                        <h4>İnvestisiya etmək istəyirsiniz?</h4>
                        <h1>Pulunuzu İnvest.az İlə qısa zamanda çoxaldın!</h1>
                        <p>Minlərlə müştərimiz öz pulunu stratejik davranaraq qatladı,<br/>bəs siz nə
                            gözləyirsiniz?</p>
                        <a href="./investment.html" class="btn-hyipox">Elə İndi Başla</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-sm-10 col-md-8 monitor-for-480">
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------- BANNER -------------------------------- -->

    <!-- ----------------------------------------------------------------------- -->
    <!--                               SHORT ABOUT                               -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="about">
        <div class="container">
            <div class="how-to-works">
                <div class="row justify-content-center justify-content-sm-center justify-content-md-start">

                    {% for card in about_card %}
                    <div class="col-xl-4 col-lg-4 col-sm-10 col-md-6">
                        <div class="single-system">
                            <div class="part-icon">
                                <img src="{{ card.image.url }}" alt="">
                            </div>
                            <div class="part-text">
                                <h4 class="title">{{ card.title }}</h4>
                                <p>{{ card.text}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <div
                    class="row justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-center">
                <div class="col-xl-6 col-lg-6 col-sm-10">
                    <div class="part-text">
                        <h2>İnvestisiya üçün <span class="special">doğru</span> məkandasınız.</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eum quasi veniam maxime.
                            Eveniet excepturi porro sequi et in ut. <span class="spc">Bu sətr vurğulanır.</span>
                            Lorem ipsum dolor sit amet.</p>
                        <ul>
                            <li><i class="fas fa-check"></i> 100% Güvənilirlik</li>
                            <li><i class="fas fa-check"></i> 100% Zəmanət</li>
                            <li><i class="fas fa-check"></i> 0% Komissiya</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, dolorum. Aspernatur
                            amet praesentium officia libero reiciendis, omnis nam officiis perferendis.</p>
                        <a href="./investment.html" class="btn-hyipox-2">Elə İndi Yatırım et</a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-sm-10 col-md-12">
                    <div class="part-feature">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                                <div class="single-feature">
                                    <div class="feature-icon">
                                        <img src="/static/img/svg/solar-energy.svg" alt="">
                                    </div>
                                    <div class="feature-text">
                                        <h3>Başlıq</h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                                <div class="single-feature">
                                    <div class="feature-icon">
                                        <img src="/static/img/svg/diploma.svg" alt="">
                                    </div>
                                    <div class="feature-text">
                                        <h3>Başlıq</h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                                <div class="single-feature">
                                    <div class="feature-icon">
                                        <img src="/static/img/svg/blockchain.svg" alt="">
                                    </div>
                                    <div class="feature-text">
                                        <h3>Başlıq</h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                                <div class="single-feature">
                                    <div class="feature-icon">
                                        <img src="/static/img/svg/worldwide.svg" alt="">
                                    </div>
                                    <div class="feature-text">
                                        <h3>Başlıq</h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------- SHORT ABOUT ----------------------------- -->

    <!-- ----------------------------------------------------------------------- -->
    <!--                               STATISTICS                                -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="statics">
        <div class="container">
            <div class="all-statics">
                <div class="row no-gutters justify-content-center">
                    <div class="col-xl-4 col-lg-3 col-sm-10 col-md-4">
                        <div class="single-statics">
                            <div class="part-img">
                                <img src="/static/img/svg/investor.svg" alt="investor">
                            </div>
                            <div class="part-text">
                                <span class="counter">20+</span>
                                <span class="title">İnvestisiya növü</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-sm-10 col-md-4">
                        <div class="single-statics">
                            <div class="part-img">
                                <img src="/static/img/svg/withdraw.svg" alt="investor">
                            </div>
                            <div class="part-text">
                                <span class="counter">165+</span>
                                <span class="title">Professional Əməkdaş</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-sm-10 col-md-4">
                        <div class="single-statics">
                            <div class="part-img">
                                <img src="/static/img/svg/money-transfering.svg" alt="investor">
                            </div>
                            <div class="part-text">
                                <span class="counter">14369+</span>
                                <span class="title">İnvestor</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------- STATISTICS ------------------------------ -->





    <!-- ----------------------------------------------------------------------- -->
    <!--                                ABOUT US                                 -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="cta">
        <div class="container">
            <div class="cta-bg">
                <div
                        class="row justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-center">
                    <div
                            class="col-xl-7 col-lg-7 col-md-12 col-sm-10 d-xl-flex d-lg-flex d-block align-items-center">
                        <div class="cta-text">
                            <h2>Biz Kimik?</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quod velit
                                aspernatur illo repellat a sint itaque id cumque quibusdam accusantium quos quaerat
                                deserunt odit fuga, beatae, ratione consequatur non porro dignissimos officia ab
                                reprehenderit dolore? Reprehenderit est laudantium veritatis earum at vitae tempore
                                error in ex mollitia debitis nulla voluptatem voluptatum eos nihil alias officiis id
                                tenetur quis aspernatur eaque, ipsum quam. Officia, natus error. Eius, quam beatae
                                iste voluptatum expedita voluptas molestias recusandae, doloremque laborum modi
                                molestiae magni aliquam esse magnam labore obcaecati. Aperiam tenetur aliquam vitae,
                                quisquam sint ducimus, pariatur ipsam repudiandae sit enim accusantium dignissimos
                                vel.</p>
                            <p class="marked">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum nemo
                                quasi impedit, voluptatem quae voluptas numquam unde dolor!</p>
                            <a href="./about.html" class="btn-hyipox-medium cta-btn">Daha Çox məlumat</a>
                        </div>
                    </div>
                    <div
                            class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex justify-content-end d-block align-items-center">
                        <div class="part-video">
                            <img src="/static/img/video.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------ ABOUT US ------------------------------- -->






    <!-- ----------------------------------------------------------------------- -->
    <!--                                 WHY US                                  -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="choosing-reason">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-title">
							<span class="sub-title">
								DİGƏRLƏRİNDƏN FƏRQİMİZ
							</span>
                        <h2>
                            Niyə Məhz<span class="special"> invest.az?&nbsp;</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolorem a fugiat!
                            Dolorem placeat harum porro, id doloremque labore molestias dolores doloribus
                            reprehenderit ea exercitationem rem perferendis? Nihil sequi odit facilis a ipsam
                            eligendi tempore eveniet quae impedit vero. Debitis voluptas ea, veniam molestiae
                            reprehenderit laboriosam omnis animi iusto totam mollitia vero modi cupiditate illo hic!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-sm-10 col-md-12">
                    <div class="part-left">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-4">
                                <div class="single-reason">
                                    <div class="icon-box">
                                        <div class="part-icon">
                                            <img src="/static/img/svg/withdraw.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="part-text">
                                        <h3 class="title">Lorem, ipsum.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-4">
                                <div class="single-reason">
                                    <div class="icon-box">
                                        <div class="part-icon">
                                            <img src="/static/img/svg/referral.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="part-text">
                                        <h3 class="title">Lorem, ipsum.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-4">
                                <div class="single-reason">
                                    <div class="icon-box">
                                        <div class="part-icon">
                                            <img src="/static/img/svg/affiliate-marketing.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="part-text">
                                        <h3 class="title">Lorem, ipsum.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-2 d-xl-flex d-lg-none d-block align-items-end">
                    <div class="part-img">
                        <div class="shadow-shape"></div>
                        <img src="/static/img/choosing-reason.png" alt="">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-sm-10 col-md-12">
                    <div class="part-right">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-4">
                                <div class="single-reason">
                                    <div class="icon-box">
                                        <div class="part-icon">
                                            <img src="/static/img/svg/bird.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="part-text">
                                        <h3 class="title"> Lorem, ipsum.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-4">
                                <div class="single-reason">
                                    <div class="icon-box">
                                        <div class="part-icon">
                                            <img src="/static/img/svg/shield.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="part-text">
                                        <h3 class="title">Lorem, ipsum.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-4">
                                <div class="single-reason">
                                    <div class="icon-box">
                                        <div class="part-icon">
                                            <img src="/static/img/svg/customer-service.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="part-text">
                                        <h3 class="title">Lorem, ipsum.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------- WHY US -------------------------------- -->




    <!-- ----------------------------------------------------------------------- -->
    <!--                               TESTIMONAL                                -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="testimonial">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-title">
							<span class="sub-title">
								İnvestorların düşüncələri
							</span>
                        <h2>Bizimlə <span class="special">Qazanan</span> İnvestorların düşüncələri</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="all-testimonials">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="testi-text-slider">
                            <div class="single-testimonial">
									<span class="quot-icon">
										<img src="/static/img/icon/quot.png" alt="">
									</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, culpa.
                                    Magnam sapiente ipsum minima? Distinctio nostrum ipsam exercitationem! Officia
                                    laborum perferendis!</p>
                                <div class="part-user">
                                    <span class="user-name">Anar Anarov</span>
                                    <span class="user-location">Baku, Azerbaijan</span>
                                </div>
                            </div>

                            <div class="single-testimonial">
									<span class="quot-icon">
										<img src="/static/img/icon/quot.png" alt="">
									</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, culpa.
                                    Magnam sapiente ipsum minima? Distinctio nostrum ipsam exercitationem! Officia
                                    laborum perferendis!</p>
                                <div class="part-user">
                                    <span class="user-name">Anar Anarov</span>
                                    <span class="user-location">Baku, Azerbaijan</span>
                                </div>
                            </div>

                            <div class="single-testimonial">
									<span class="quot-icon">
										<img src="/static/img/icon/quot.png" alt="">
									</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, culpa.
                                    Magnam sapiente ipsum minima? Distinctio nostrum ipsam exercitationem! Officia
                                    laborum perferendis!</p>
                                <div class="part-user">
                                    <span class="user-name">Anar Anarov</span>
                                    <span class="user-location">Baku, Azerbaijan</span>
                                </div>
                            </div>
                            <div class="single-testimonial">
									<span class="quot-icon">
										<img src="/static/img/icon/quot.png" alt="">
									</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, culpa.
                                    Magnam sapiente ipsum minima? Distinctio nostrum ipsam exercitationem! Officia
                                    laborum perferendis!</p>
                                <div class="part-user">
                                    <span class="user-name">Anar Anarov</span>
                                    <span class="user-location">Baku, Azerbaijan</span>
                                </div>
                            </div>

                            <div class="single-testimonial">
									<span class="quot-icon">
										<img src="/static/img/icon/quot.png" alt="">
									</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, culpa.
                                    Magnam sapiente ipsum minima? Distinctio nostrum ipsam exercitationem! Officia
                                    laborum perferendis!</p>
                                <div class="part-user">
                                    <span class="user-name">Anar Anarov</span>
                                    <span class="user-location">Baku, Azerbaijan</span>
                                </div>
                            </div>

                            <div class="single-testimonial">
									<span class="quot-icon">
										<img src="/static/img/icon/quot.png" alt="">
									</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, culpa.
                                    Magnam sapiente ipsum minima? Distinctio nostrum ipsam exercitationem! Officia
                                    laborum perferendis!</p>
                                <div class="part-user">
                                    <span class="user-name">Anar Anarov</span>
                                    <span class="user-location">Baku, Azerbaijan</span>
                                </div>
                            </div>

                        </div>
                        <div class="testi-user-slider">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ----------------------------- TESTIMONAL ------------------------------ -->





    <!-- ----------------------------------------------------------------------- -->
    <!--                                PARTNERS                                 -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="payment-gateway">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-sm-10 col-md-12">
                    <div class="all-payment">
                        <h3 class="title" style="font-size: 32px;">Partnyorlarımız :</h3>
                        <div class="gateway-slider">
                            <div class="single-payment-way">
                                <img src="/static/img/brand/brand-1.jpg" alt="">
                            </div>
                            <div class="single-payment-way">
                                <img src="/static/img/brand/brand-2.jpg" alt="">
                            </div>
                            <div class="single-payment-way">
                                <img src="/static/img/brand/brand-4.jpg" alt="">
                            </div>
                            <div class="single-payment-way">
                                <img src="/static/img/brand/brand-3.jpg" alt="">
                            </div>
                            <div class="single-payment-way">
                                <img src="/static/img/brand/brand-5.jpg" alt="">
                            </div>
                            <div class="single-payment-way">
                                <img src="/static/img/brand/brand-1.jpg" alt="">
                            </div>
                            <div class="single-payment-way">
                                <img src="/static/img/brand/brand-3.jpg" alt="">
                            </div>
                            <div class="single-payment-way">
                                <img src="/static/img/brand/brand-5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------- PARTNER ------------------------------- -->
{% endblock %}



