{% extends 'base.html' %}
{% block content %}

        <!-- ----------------------------------------------------------------------- -->
        <!--                               INVESTMENT                                -->
        <!-- ----------------------------------------------------------------------- -->
        <div class="blog-page blog-details-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="blog">
                            <div class="part-img">
                                <img src="https://source.unsplash.com/1600x900/?crypto,bitcoin,invest" alt="img">
                                <div class="post-date">
                                    <span class="date" style="font-weight: 900;">+12%</span>
                                    <span class="month" style="font-weight: 500;">2 İL</span>
                                </div>
                            </div>
                            <div class="part-text">
                                <a href="#" class="title">Bitcoin</a>
                                <ul class="meta-info">
                                    <li>
                                        <span class="icon"><i class="far fa-arrow-alt-circle-down"></i></span>
                                        Minimum Məbləğ : <span class="minimum_allowed_value">100 ₼</span>
                                    </li>
                                    <li>
                                        <span class="icon"><i class="far fa-arrow-alt-circle-up"></i></span>
                                        Maksimum Məbləğ : <span class="maximum_allowed_value">100,000 ₼</span>
                                    </li>
                                </ul>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sint esse vel atque
                                    asperiores eligendi vero blanditiis, totam eos beatae hic harum commodi quisquam
                                    debitis ipsam obcaecati deserunt nihil? Sed. Lorem ipsum,
                                    dolor sit amet consectetur adipisicing elit. In cum vitae ex nostrum rem recusandae
                                    nobis, similique nulla nemo dolorum debitis vel cupiditate totam deserunt omnis? In
                                    natus ratione deleniti!
                                </p>

                                <p class="marked">
                                    <i class="fas fa-quote-left qout"></i>
                                    Son 2 ildə 450% qiymət artımı yaşayan <span class="bitcoin_style">Bitcoin</span>
                                    dünyada ən çox yatırım olunan kriptovalyutadır.
                                </p>

                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sint esse vel atque
                                    asperiores eligendi vero blanditiis, totam eos beatae hic harum commodi quisquam
                                    debitis ipsam obcaecati deserunt nihil? Sed. Lorem ipsum,
                                    dolor sit amet consectetur adipisicing elit. In cum vitae ex nostrum rem recusandae
                                    nobis, similique nulla nemo dolorum debitis vel cupiditate totam deserunt omnis? In
                                    natus ratione deleniti!
                                </p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sint esse vel atque
                                    asperiores eligendi vero blanditiis, totam eos beatae hic harum commodi quisquam
                                    debitis ipsam obcaecati deserunt nihil? Sed. Lorem ipsum,
                                    dolor sit amet consectetur adipisicing elit. In cum vitae ex nostrum rem recusandae
                                    nobis, similique nulla nemo dolorum debitis vel cupiditate totam deserunt omnis? In
                                    natus ratione deleniti!
                                </p>
                                <a href="#" class="share-btn"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="share-btn"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="share-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="blog-sidebar">
                            <div class="single-sidebar">
                                <h4 class="title">Məbləğ</h4>
                                <form>
                                    <input type="text" class="invest__amount" placeholder="100 ₼">
                                    <button class="invest__button">
                                        Təsdiqlə
                                    </button>
                                </form>
                            </div>
                            <div class="single-sidebar">
                                <h4 class="title">DİGƏR İSTİFADƏÇİLƏR</h4>
                                <ul class="category-sidebar">
                                    <li>
                                        <a href="#">
                                            <span class="text">Anar Anarov</span>
                                            <span class="number">250$</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Əli Əliyev</span>
                                            <span class="number">300₼</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Məmməd Məmmədov</span>
                                            <span class="number">150₼</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Hüseyin Hüseyinov</span>
                                            <span class="number">130€</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="single-sidebar">
                                <h4 class="title">POPULYAR İNVESTİSİYALAR</h4>
                                <div class="popular-news">
                                    <!-- SINGLE POST -->
                                    <div class="single-post">
                                        <div>
                                            <div class="part-img">
                                                <img src="https://source.unsplash.com/400x400/?dogecoin" alt="">
                                            </div>
                                        </div>
                                        <div class="part-text">
                                            <a href="./investment.html">DogeCoin</a>
                                        </div>
                                    </div>
                                    <!-- SINGLE POST -->

                                    <!-- SINGLE POST -->
                                    <div class="single-post">
                                        <div>
                                            <div class="part-img">
                                                <img src="https://source.unsplash.com/400x400/?stock market" alt="">
                                            </div>
                                        </div>
                                        <div class="part-text">
                                            <a href="./investment.html">NASDAQ</a>
                                        </div>
                                    </div>
                                    <!-- SINGLE POST -->


                                    <!-- SINGLE POST -->
                                    <div class="single-post">
                                        <div>
                                            <div class="part-img">
                                                <img src="/static/img/product_placeholder_2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="part-text">
                                            <a href="./investment.html">SOCAR</a>
                                        </div>
                                    </div>
                                    <!-- SINGLE POST -->


                                    <!-- SINGLE POST -->
                                    <div class="single-post">
                                        <div>
                                            <div class="part-img">
                                                <img src="https://source.unsplash.com/400x400/?petrol" alt="">
                                            </div>
                                        </div>
                                        <div class="part-text">
                                            <a href="./investment.html">BP</a>
                                        </div>
                                    </div>
                                    <!-- SINGLE POST -->


                                    <!-- SINGLE POST -->
                                    <div class="single-post">
                                        <div>
                                            <div class="part-img">
                                                <img src="/static/img/product_placeholder_3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="part-text">
                                            <a href="./investment.html">Pinterest</a>
                                        </div>
                                    </div>
                                    <!-- SINGLE POST -->


                                    <!-- SINGLE POST -->
                                    <div class="single-post">
                                        <div>
                                            <div class="part-img">
                                                <img src="/static/img/product_placeholder_4.png" alt="">
                                            </div>
                                        </div>
                                        <div class="part-text">
                                            <a href="./investment.html">Etherium</a>
                                        </div>
                                    </div>
                                    <!-- SINGLE POST -->


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------- INVESTMENT ------------------------------ -->

{% endblock %}