{% extends 'base.html' %}
{% block content %}
		<!-- ----------------------------------------------------------------------- -->
		<!--                               BREADCRUMB                                -->
		<!-- ----------------------------------------------------------------------- -->
		<div class="breadcrumb-rvfet db-breadcrumb">
			<div class="container">
				<div class="row justify-content-lg-around">
					<div class="col-xl-6 col-lg-7 col-md-5 col-sm-6 col-8">
						<div class="part-txt">
							<h1>İstifadəçi Paneli</h1>
							<ul>
								<li>Ana səhifə</li>
								<li>İstifadəçi Paneli</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-6 col-lg-5 col-md-7 col-sm-6 col-4 d-flex align-items-center">
						<div class="db-user-profile">
							<div class="part-data">
								<span class="name">Eunice Nunez</span>
								<ul>
									<li>
										<span class="text">Balans</span>
										<span class="number">4,500 ₼</span>
									</li>
									<li>
										<span class="text">Aktiv Yatırım</span>
										<span class="number">1,200 ₼</span>
									</li>
								</ul>
							</div>
							<div class="part-img">
								<img src="/static/img/member-1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ----------------------------- BREADCRUMB ------------------------------ -->




		<!-- ----------------------------------------------------------------------- -->
		<!--                               INVESTMENTS                               -->
		<!-- ----------------------------------------------------------------------- -->
		<div class="team-inner">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-8 col-lg-8">
						<div class="section-title">
							<span class="sub-title">
								İnvestisiya edərək
							</span>
							<h2>
								Gəlirinizi dəqiqələr İçidə<span class="special"> Qatlayın! </span>
							</h2>
						</div>
					</div>
				</div>
				<div class="row rating_users">


					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Louise Romero" alt="">
						</div>

						<h2 class="name rating_user_number">#1</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Sue Vaughn</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Shane Herrera" alt="">
						</div>

						<h2 class="name rating_user_number">#2</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Martha Horton</h2>
							<h4 class="name rating_user_percent">Uğur: <span>94%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Mabel Bailey" alt="">
						</div>

						<h2 class="name rating_user_number">#3</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Celia Graves</h2>
							<h4 class="name rating_user_percent">Uğur: <span>89%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Ella Hammond" alt="">
						</div>

						<h2 class="name rating_user_number">#4</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Richard Vega</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Ronnie Floyd" alt="">
						</div>

						<h2 class="name rating_user_number">#5</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Charles Park</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Wesley Myers" alt="">
						</div>

						<h2 class="name rating_user_number">#6</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Ernest Patterson</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Alejandro Santos" alt="">
						</div>

						<h2 class="name rating_user_number">#7</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Willie Nash</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Lena Gutierrez" alt="">
						</div>

						<h2 class="name rating_user_number">#8</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Vera Sherman</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Esther Lewis" alt="">
						</div>

						<h2 class="name rating_user_number">#9</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Roy Mendoza</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Richard Riley" alt="">
						</div>

						<h2 class="name rating_user_number">#10</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Oscar Bishop</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Christopher Simmons" alt="">
						</div>

						<h2 class="name rating_user_number">#11</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Steven Hill</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Joshua Nunez" alt="">
						</div>

						<h2 class="name rating_user_number">#12</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Inez Barber</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Curtis Fuller" alt="">
						</div>

						<h2 class="name rating_user_number">#13</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Eleanor McCormick</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Phillip Massey" alt="">
						</div>

						<h2 class="name rating_user_number">#14</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Sally Long</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Olive Clayton" alt="">
						</div>

						<h2 class="name rating_user_number">#15</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Pauline Cummings</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Alejandro Lyons" alt="">
						</div>

						<h2 class="name rating_user_number">#16</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Eleanor Wood</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Richard Byrd" alt="">
						</div>

						<h2 class="name rating_user_number">#17</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Lois Cortez</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Genevieve Price" alt="">
						</div>

						<h2 class="name rating_user_number">#18</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Jimmy Fleming</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Jeanette Riley" alt="">
						</div>

						<h2 class="name rating_user_number">#19</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Benjamin Hopkins</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Emma Christensen" alt="">
						</div>

						<h2 class="name rating_user_number">#20</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Agnes Fitzgerald</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Nora Bell" alt="">
						</div>

						<h2 class="name rating_user_number">#21</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Francisco Gonzalez</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Hannah West" alt="">
						</div>

						<h2 class="name rating_user_number">#22</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Gerald Snyder</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Harvey Anderson" alt="">
						</div>

						<h2 class="name rating_user_number">#23</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Brandon Martinez</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Floyd Gregory" alt="">
						</div>

						<h2 class="name rating_user_number">#24</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Harry Schmidt</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Clayton Conner" alt="">
						</div>

						<h2 class="name rating_user_number">#25</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Harriett Caldwell</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-up"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->

					<!-- ----------------------------- SINGLE USER ----------------------------- -->
					<!-- USER NUMBER -->
					<div class="rating_user">
						<!-- USER IMAGE -->
						<div class="rating_user_image">
							<img src="https://source.unsplash.com/200x200/?face?Janie Casey" alt="">
						</div>

						<h2 class="name rating_user_number">#26</h2>

						<!-- USER DETAILS -->
						<div class="rating_user_details">
							<h2 class="name rating_user_name">Sadie McKenzie</h2>
							<h4 class="name rating_user_percent">Uğur: <span>96%</span><i
									class="fas fa-arrow-alt-circle-down"></i></h4>
						</div>
					</div>
					<!-- ---------------------------- ./SINGLE USER ---------------------------- -->


				</div>
			</div>
		</div>
		<!-- ----------------------------- INVESTMENTS ----------------------------- -->
{% endblock %}
